@import "tailwindcss";

@layer base {
  :root {
    --color-background: #f9fafb;
    --color-foreground: #111827;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #d1d5db transparent;
  }
}
